body {
  background-color: #81a69b;
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 80% 20%;
}

#sidebar {
  border: 5px solid black;
}

#core {
  border: 5px solid red;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#ingredients {
  border: 5px solid purple;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

li {
  border-right: 5px solid blue;
  flex: 33%;
  display: flex;
  justify-content: center;
}

li > svg {
  height: 100%;
  width: 35%;
}
