body {
  background-color: #81a69b;
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-auto-rows: 100%;
  grid-template-columns: 80% 20%;
}

#sidebar {
  border: 5px solid black;
}

#core {
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#ingredients {
  border: 5px solid purple;
  list-style: none;
  margin: 50px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 33.33%);
}

li {
  border-right: 5px solid blue;
  display: flex;
  align-items: center;
  align-content: center;
}

svg {
  flex: auto;
  width: auto;
  height: 100%;
}
